/* -- Layout and background -- */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 320px;
  height: 568px;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+0,1e5799+62,207cca+62,c1a666+62,70592b+62,b29f62+100 */
  background: #2989d8; /* Old browsers */
  background: -moz-linear-gradient(top,  #2989d8 0%, #1e5799 68%, #207cca 68%, #c1a666 68%, #70592b 68%, #b29f62 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #2989d8 0%,#1e5799 68%,#207cca 68%,#c1a666 68%,#70592b 68%,#b29f62 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #2989d8 0%,#1e5799 68%,#207cca 68%,#c1a666 68%,#70592b 68%,#b29f62 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#b29f62',GradientType=0 ); /* IE6-9 */
  text-align: center;
}

.background-stripes {
  background: url('../../public/lines_floor.png');
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 200px;
}

/* -- Cat -- */

.cat {
  position: fixed;
  top: 340px;
  left: 75px;
  width: 200px;
  height: 200px;
  z-index: 2;
}

.cat:active {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 68% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.cat.backflip {
  animation-name: backflip;
  animation-duration: 1s;
}

@keyframes backflip {
  0%, 100% {
    transform: translate3d(0,0,0) rotate(0deg);
    animation-timing-function: ease-out;
  }
  69% {
    transform: translate3d(0, -200px, 0) rotate(180deg);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate3d(0,0,0) rotate(360deg);
  }
}

/* -- Ball -- */

.ball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  background: rgba(248,80,50,1);
  background: radial-gradient(ellipse at center, rgba(248,80,50,1) 0%, rgba(248,75,45,1) 5%, rgba(246,41,12,1) 40%, rgba(240,47,23,1) 51%, rgba(219,54,40,1) 61%, rgba(241,111,92,1) 89%, rgba(241,111,92,1) 100%);
}

/* -- Button -- */

.button {
  width: 25%;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding: 6px 0;
  margin: 1em 2em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}

.button:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.button:active {
  position: relative;
  top: 1px;
}

/* -- Conversation messages -- */

.message-container {
  box-sizing: border-box;
  width: 320px;
  height: 300px;
  position: fixed;
  z-index: 10;

}

.message {
  display: inline-block;
  border-radius: 10%;
  background-color: white;
  padding: 10px;
  width: 250px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
}

.message .question {
  font-family: sans-serif;
  font-size: 1.3em;
}

.message .answer {
  font-family: sans-serif;
  font-size: 1.15em;
  cursor: pointer;
  text-align: left;
}

.message .answer:hover {
  color: #2989d8;
}

.message:after {
  content: '';
  display: block;
  margin: auto;
  position: relative;
  top: 27px;
  left: -42px;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 20px solid white;
}

/* -- Modal -- */

.modal {
  width: 300px;
  height: 548px;
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: antiquewhite;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
  padding: 10px;
  box-sizing: border-box;
}

.modal--image {
  width: 100%;
  height: 280px;
  margin: auto;
  position: relative;
  border-radius: 8px;
  border: 2px solid #ccc0af;
  display: block;
  box-sizing: border-box;
}

/* -- Welcome screen -- */

.welcome .form--input {
  font-size: 2em;
  width: 250px;
  height: 40px;
  margin-bottom: 0.5em;
}

.welcome--text {
  font-size: 1.4em;
}

/* -- Call to action -- */

.callToAction .callToAction--button {
  cursor: pointer;
  font-style: normal;
}

.callToAction p {
  font-family: sans-serif;
  font-size: 1.15em;
  font-style: italic;
}

.callToAction a {
  font-family: sans-serif;
  font-size: 1.3em;
}
