body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 320px;
  height: 568px;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+0,1e5799+62,207cca+62,c1a666+62,70592b+62,b29f62+100 */
  background: #2989d8; /* Old browsers */
  background: -moz-linear-gradient(top,  #2989d8 0%, #1e5799 62%, #207cca 62%, #c1a666 62%, #70592b 62%, #b29f62 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #2989d8 0%,#1e5799 62%,#207cca 62%,#c1a666 62%,#70592b 62%,#b29f62 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #2989d8 0%,#1e5799 62%,#207cca 62%,#c1a666 62%,#70592b 62%,#b29f62 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#b29f62',GradientType=0 ); /* IE6-9 */
  text-align: center;
}

.cat {
  position: fixed;
  top: 310px;
  left: 75px;
  width: 200px;
  height: 200px;
  /*-webkit-box-shadow: 10px 100px 121px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 100px 121px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 100px 121px 0px rgba(0,0,0,0.75);*/
}

.cat:active {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.button {
  width: 25%;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}

.button: hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.button:active {
  position: relative;
  top: 1px;
}

.message {
  display: inline-block;
  border-radius: 10%;
  background-color: white;
  padding: 10px;
  margin: 100px auto;
  width: auto;
}

.message:after {
  content: '';
  display: block;
  margin: auto;
  position: relative;
  top: 25px;
  left: -30px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}

.callToAction {
  width: 300px;
  height: 548px;
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: antiquewhite;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
}

.ctaImage {
  width: 280px;
  height: 280px;
  position: relative;
  top: 8px;
  left: 8px;
  border-radius: 8px;
  border: 2px solid black;
  display: block;
}
